@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");



*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background: #EFF5F5;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
.navbar{
	min-width: 100%;
	background-color: #fff;
	padding-right: 15px;
	padding-left: 15px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.navdiv{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo a img{
	height: 40px;
}
.profile img{
	height: 40px;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 5px;
}
li{
	list-style: none;
	display: inile-block;
}
li a{
	color: black;
	font-size: 18px;
	margin-right: 25px;
	position: absolute;
	top: 10px;
	left: 200px;
}
.sub-menu-wrap{
	position: absolute;
	top: 6.1%;
	right: 0.5%;
	width: 320px;
	max-height: 0px;
	overflow-y:scroll ;
	transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
	max-height: 400px;
}
.sub-menu{
	background-color: #fff;
	padding: 20px;
	margin: 10px;
}
.user-info{
	display: flex;
	align-items: center;
}
.user-info h3{
	font-weight: 500;
}
.user-info img{
	width: 60px;
	margin-right: 15px;
}
.sub-menu hr{
	border: 0;
	height: 1px;
	width: 100%;
	background: #ccc;
	margin: 15px 0 10px;
}
.sub-menu-link{
	display: flex;
	align-items: left;
	text-decoration: none;
	color:#525252;
	margin: 12px 0;
}
.sub-menu-link p{
	width: 100%;
}
.sub-menu-link:hover p{
	font-weight: 600;
}
.sub-project-wrap{
	position: absolute;
	top: 5%;
	left: 10%;
	width: 150px;
	max-height: 0px;
	overflow-y:scroll ;
	transition: max-height 0.5s;
}
.sub-project-wrap.open-project{
	max-height: 300px;
}
.sub-project{
	background-color: #fff;
	padding: 20px;
	margin: 10px;
}

.sub-project-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color:#525252;
	margin: 12px 0;
}
.sub-project-link p{
	width: 100%;
}
.sub-project-link:hover p{
	font-weight: 600;
}
.sub-project hr{
	border: 0;
	height: 1px;
	width: 100%;
	background: #ccc;
	margin: 15px 0 10px;
}
nav span{
	width: 100%;
	background-color: #3f5fab;
	height: 30px;
	display: block;
	position: absolute;
	top: 8%;
	left: 0;
}
#mail{
	align-items: center;
}

.range-slider {
	margin: 60px 0 0 0;
}
