.register button {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;

    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
}

.register button:hover {
    color: #3393bd;
    background-color: #fff;
    cursor: pointer;
}


body {
    background-color: #f2f2f2;
}

.button-new {
    width: 150px;
}

.hidden-buttons {
    z-index: 100;
    position: absolute;
    display: none;
}

.hidden-buttons a {
    border: rgba(0, 0, 0, 0.14) solid 1px;
    display: block;
    background-color: white;
    width: 100%;
    padding: 10px;
}

.hidden-buttons a:hover {
    background-color: rgb(220, 220, 220);
}

.glyphicon {
    color: rgba(0, 0, 0, 0.25);
    padding-right: 10px;
}

.glyphicon-plus {
    color: white;
    padding-right: 0;
    padding-left: 10px;
    font-size: 12px;
}

.my-container {
    background-color: white;
    width: 100%;
    height: 20vh;
    margin: 0;
    padding: 25px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.nav-bar {}

.btn {
    border-radius: 1px;
}

.btn-primary {
    min-width: 100px;
}

.container-fluid {
    height: 75vh;
}

.row {
    height: 100%;
}

.col-sm-2 {
    height: 100%;
    padding: 25px;
}

.col-sm-10 {
    height: 100%;
    padding: 25px;
}

.side-bar {
    height: 100%;
    width: 100%;
}

tbody {
    display: block;
    border: rgba(0, 0, 0, 0.14) solid 1px;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

table {
    height: 100%;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

a:hover {
    text-decoration: none;
}

.side-bar a {
    display: block;
    padding: 10px;
    width: 100%;
}

.side-bar a:hover {
    background-color: rgba(0, 0, 0, 0.14);
}

.edit-bar {
    float: right;
    display: none;
}

.edit-bar a .glyphicon {
    padding-right: 2px;
}

.edit-bar a {
    padding-left: 15px;
}

.right-click {
    width: 150px;
    position: fixed;
    z-index: 1000;
    display: none;
}

.right-click span {
    border: rgba(0, 0, 0, 0.14) solid 1px;
    display: block;
    background-color: white;
    width: 100%;
    padding: 10px;
}

.right-click a:hover {
    background-color: rgb(220, 220, 220);
}

.overlay {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.14);
    width: 100vw;
    height: 100vh;
    padding: 25px;
}

.content {
    background-color: white;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    margin: 0 auto;
    padding: 25px;
}

.content h3 {
    display: inline;
}

.content span {
    float: right;
    cursor: pointer;
    font-size: 20px;
}


  table {
      width: 85%;
      margin-left: 160px;
      margin-right: 100px;
      font-family: Quicksand, Helvetica, sans-serif;
      /* Added font-family */
  }

  th {
      padding: 8px;
      text-align: left;
  }

  td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.14);
      padding: 8px;
      margin-top: 10px;
      text-align: left;
  }

  th:first-child,
  td:first-child {
      border-left: none;
  }

  th:last-child,
  td:last-child {
      border-right: none;
  }

  .sidebar {
      position: fixed;
      width: 160px;
      left: 0;
      height: 100%;
      background-color: #dbdbdb;
      transition: all 0.5s ease;
      font-family: Quicksand, Helvetica, sans-serif;
      /* Added font-family */
  }

  .sidebar a {
      display: block;
      height: 50px;
      width: 100%;
      color: #353535;
      line-height: 50px;
      padding-left: 10px;
      box-sizing: border-box;
      border-left: 5px solid transparent;
      font-family: 'Lato', sans-serif;
      transition: all 0.5s ease;
      text-decoration: none;
      font-family: Quicksand, Helvetica, sans-serif;
      /* Added font-family */
  }

  .sidebar a i {
      font-size: 15px;
      margin-right: 16px;
  }

  .sidebar a:hover {
      background-color: #e0e0e0;
  }

  /* Task Bar */
  .taskbar {
      width: 2.5%;
      min-width: 10px;
      background-color: #dbdbdb;
      position: fixed;
      top: 96px;
      right: 0;
      height: 100%;
      z-index: 0;
      font-family: Quicksand, Helvetica, sans-serif;
      /* Added font-family */
  }

  .taskbar a {
      display: block;
      padding: 10px;
      color: #000;
      text-decoration: none;
      font-family: Quicksand, Helvetica, sans-serif;
      /* Added font-family */
  }

  .taskbar a i {
      margin-right: 8px;
  }

  .taskbar a:hover {
      background-color: #e0e0e0;
  }
